@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Libre+Baskerville|Source+Sans+Pro');

/* logo variables */
$LogoColor: #00ff7f;
$LogoFont:'Libre Baskerville', sans-serif;

/* header variables */
$HeaderColor: #3caea3;
$BorderCoral: #FF7256;
$DropdownColor: #8b7d6b;

/* primary text variables */
$PrimaryTextColor: #fef4de;
$PrimaryFont:'Open Sans', sans-serif;

/* General Box Shadow */
@mixin box-shadow {
    -webkit-box-shadow: 0px 0px 84px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 84px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 84px 0px rgba(0,0,0,0.75);
}

/* Main Style */
html, body {
    margin:0;
    display:grid;
    min-height:100vh;
}

p {
  font-family:$PrimaryFont;
  color:$PrimaryTextColor;
}

body {
    background-color:#353535;
    margin:0;
}
/* Header */
.top-content {
    background-color:#5d5d5d;
    display:grid;
    justify-items:center;
    height:auto;
    border-bottom:0.4em solid $BorderCoral;
    h2 { // header
        font-family:$LogoFont;
        color: $LogoColor;
        font-size:350%;
        font-weight:bold;
        align-self:end;
        margin:0;
      }

    h3 {
      font-family:'Roboto',sans-serif;
      font-size:80%;
      color:$PrimaryTextColor;
      font-weight:100;
      padding-right:1em;
      font-style:italic;
      justify-self:end;
      align-self:end;
      margin:0;
    }
}

// Main Styles
.grid-wrapper {
    display:grid;
    grid-template-columns:20em repeat(3, 1fr) 20em;
    grid-template-rows:10em;

    .cus {
      grid-column:2/3;
      grid-row:1/2;
      justify-self:center;
    }

    .ord {
      grid-column:3/4;
      grid-row:1/2;
      justify-self:center;
    }

    .users {
      grid-column:4/5;
      grid-row:1/2;
      justify-self:center;
    }
    a {
        font-family:$PrimaryFont;
        font-size:2em;
        font-weight:bold;
        color:$PrimaryTextColor;
        text-decoration:none;
        padding:0 1em;
    }
    a:hover {
        color:$BorderCoral;
    }
    // Hidden Forms
    .hidden-customers, .hidden-orders, .hidden-users {
        display:none;
        background-color:$DropdownColor;
        border:1px solid black;
        padding:1em 0;
        border-radius:5px;
        // @include box-shadow;

        a {
          margin:auto;
          font-size:120%;
        }

        a:hover {
          color:$HeaderColor;
      }
    }

    // Hidden dropdown alignment
    .hidden-customers {
      grid-column:2/3;
    }

    .hidden-orders {
      grid-column:3/4;
    }

    .hidden-users {
      grid-column:4/5;
    }

    // On click, show the dropdown
    .show {
      display:grid;
    }
 
}

// Order Forms
.received-orders, .pending-orders, .completed-orders {
  display:grid;
  grid-template-columns:repeat(4, 0.5fr);
  grid-template-rows:repeat(0.2fr);
  grid-auto-flow:column;
  border:5px solid black;
  padding-left:1em;

  a, div {
    font-family:$PrimaryFont;
    color:$PrimaryTextColor;
  }

}

// Received Orders 
.received-orders {
  background-color:#e23242;
  border-bottom:none;

}
.pending-orders {
  background-color: #fdaa33;
  border-bottom:none;
}

// trying new grid container 
.completed-orders {
  background-color:#00BC6C;
}

// Footer 
footer {
    font-family:$PrimaryFont, sans-serif;
    margin-top:auto; /*sticks the footer to the bottom*/
    margin-bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:1em;
    height:3em;
    background-color:#5d5d5d;
    border-top:0.4em solid #41A082;

    p {
        color:#d6d6d6;
        font-size:0.7em;
        padding:1em;
    }

    a {
        font-family:$PrimaryFont;
        text-decoration:none;
    }

    img {
        padding:0.25em;
        width:30px;
        height:30px;
    }
    .footer-elements {
        color:$BorderCoral;
    }
}

// Blinking Cursor
.blinking-cursor {
    font-weight: 100;
    font-size: 1em;
    color: $LogoColor;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
  
    50% {
      color: $LogoColor;
    }
  }
  
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
  
    50% {
      color:$LogoColor;
    }
  }
  
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
  
    50% {
      color: $LogoColor;
    }
  }
  
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
  
    50% {
      color: $LogoColor;
    }
  }
  
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
  
    50% {
      color: $LogoColor;
    }
  }
